* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 255, 255);
}

#galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2%;
    
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
img {

    width: 30%;
    height: 30%;
    border-radius: 20px;
    transition: transform 2s;

}

img:hover {
    transform: scale(1.1);
}

